@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap");

:root {
  --red: #e70f0f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

a:visited,
a:link {
  color: #000;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.app-wrapper {
  margin-bottom: 2rem;
}

header {
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
}

.menu-btn {
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
}

.search-btn-wrapper {
  padding-top: 6rem;
}

.search-btn {
  display: block;
  width: 80%;
  border: 1px solid #000;
  height: 3rem;
  padding: 1rem;
  font-family: inherit;
  outline: transparent;
  font-size: inherit;
  margin: 0 auto;
  padding-left: 2.5rem;
  background: url(./media/search.svg) no-repeat left;
  background-position: 7px 13px;
  background-size: 24px;
}

.search-btn::placeholder {
  font-family: inherit;
  font-size: inherit;
}

.search-btn::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-btn:hover,
.search-btn:focus,
.search-btn:active {
  box-shadow: 5px 5px var(--red);
  transition: all 500ms ease-in-out;
}

.btn-wrap {
  margin: 1rem 0;
}

.page-btn {
  padding: 0.5rem 0.75rem;
  border: 1px solid black;
  background-color: var(--red);
  font-family: inherit;
  font-size: 1rem;
}

.page-btn:hover,
.page-btn:active {
  transition: all 500ms ease-in-out;
  box-shadow: 5px 5px var(--red);
}

.modal-menu {
  margin-right: 1rem;
  width: 50%;
  border: 1px solid black;
  background-color: #f0f0f0;
  z-index: 1;
  position: absolute;
  right: 1%;
  top: 3.5rem;
  transition: all 500ms ease-in-out;
}

.modal-menu a {
  border: transparent;
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
}

.modal-menu a:hover,
.modal-menu a:active,
.modal-menu a:focus {
  transition: all 500ms ease-in-out;
  background-color: var(--red); /* rgb(238, 237, 237) */
}

.modal-menu a:nth-child(2):hover,
.modal-menu a:nth-child(2):active,
.modal-menu a:nth-child(2):focus,
.modal-menu a:nth-child(3):hover,
.modal-menu a:nth-child(3):active,
.modal-menu a:nth-child(3):focus .modal-menu a:nth-child(4):hover,
.modal-menu a:nth-child(4):active,
.modal-menu a:nth-child(4):focus {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.modal-menu a:nth-child(1):hover,
.modal-menu a:nth-child(1):active,
.modal-menu a:nth-child(1):focus {
  border-bottom: 1px solid #000;
}

.modal-menu a:nth-child(5):hover,
.modal-menu a:nth-child(5):active,
.modal-menu a:nth-child(5):focus {
  border-top: 1px solid #000;
}

.main-view-wrapper {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background: #fff;
}

.view-content {
  padding: 1rem;
  border-top: 1px solid #000;
}

.view-img-wrapper {
  width: 100%;
  height: 8rem;
  background: transparent;
  overflow: hidden;
}

.view-img-wrapper img {
  margin: 0 0 -50px 0;
  width: 100%;
}

.view-desc {
  padding: 0.85rem 0;
  font-size: 0.85rem;
  text-align: justify;
  line-height: 1rem;
}

.view-content .btn-wrap {
  margin-top: 0;
}

.view-content .page-btn {
  font-size: 0.85rem;
}

.view-content h4 {
  font-weight: 800;
  cursor: pointer;
  line-height: 1.25rem;
}

.results-view .btn-wrap span {
  display: none;
}

.default-main .page-btn {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.default-main .page-btn span {
  padding-left: 0.5rem;
}

.default-main .view-desc {
  text-align: left;
}

.default-main .main-view-wrapper {
  border-bottom-right-radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.default-view {
  margin-top: 2rem;
}

.def-main-1 .view-img-wrapper {
  width: 100%;
  height: 12rem;
  background: transparent;
  overflow: hidden;
}

.def-main-1 {
  background: linear-gradient(180deg, #fff 30%, #e70f0ff5 10%);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.def-main-2 {
  background: linear-gradient(180deg, #e70f0ff5 20%, #fff 0);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.def-main-3 {
  background: linear-gradient(180deg, #fff 75%, #000 0);
  border-bottom: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.def-main-4 {
  background-color: #000;
  border-top: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.def-main-4 .main-view-wrapper {
  border: 1px solid var(--red);
}

.def-main-4 .view-content {
  border-top: 1px solid var(--red);
}

.def-main-1 .view-img-wrapper img {
  margin: 0 0 -50px 0;
  width: 100%;
}

.default-view h1 {
  line-height: 2rem;
  text-align: center;
  padding: 0;
  font-size: 2rem;
  margin: 0 1.5rem;
}

.red {
  color: var(--red);
}

.default-view h4 {
  font-size: 1.5rem;
}

.tags {
  font-size: 0.75rem;
  font-family: inherit;
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 2.125px;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--red);
}

.view-header {
  padding-bottom: 0.5rem;
}

.page-count {
  font-size: 0.75rem;
}

.select-list {
  width: 20%;
  border: 1px solid black;
  padding: 0.425rem 0.5rem;
  font-size: 0.75rem;
  outline: none;
  font-family: inherit;
  background-color: var(--red);
}

.select-list:hover {
  background-color: #fff;
  transition: all 500ms ease-in-out;
}

.page-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.page-btns .page-btn {
  font-size: 0.75rem;
}

.page-btns .page-btn:hover {
  box-shadow: none;
  background-color: #fff;
}

.err-img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.err-img img {
  width: 80%;
}

.bad-query-big {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 2rem 1.5rem 1rem 1.5rem;
  text-align: center;
}

.bad-query-small {
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 1.5rem;
}

.loading-wrap img {
  width: 10%;
}

.loading-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.25rem;
  margin-bottom: -1.5rem;
}

/* media queries */
