@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');

:root {
  --red: #e70f0f;
  --black-border-thin: 1px solid #000;
  --ease-in-out: all 500ms ease-in-out;
  --font12: 0.75rem;
  --font14: 0.875rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a:visited,
a:link {
  color: #000;
  text-decoration: none;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

.app-wrap {
  padding-bottom: 2rem;
}

.btn-wrap {
  padding: 0.5rem 1rem 1.5rem;
}

.page-btn {
  padding: 0.5rem 0.75rem;
  /* border: var(--black-border-thin); */
  background-color: #fff;
  font-family: inherit;
  font-size: 0.75rem;
  text-transform: uppercase;
  border: none;
  color: #000;
}

.page-btn:hover,
.page-btn:active {
  transition: var(--ease-in-out);
  box-shadow: 5px 5px var(--red);
}

/* .red {
  color: var(--red);
} */

/* Start: topmenu Styles */
header {
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3;
}

.header-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu-btn {
  cursor: pointer;
}

.logo {
  font-weight: 800;
}
/* End: topmenu Styles */

/* Start: search-bar Styles */
.search-btn-wrapper {
  padding-top: 6rem;
}

.search-btn {
  display: block;
  width: 80%;
  border: 3px solid #000;
  height: 3rem;
  padding: 1rem;
  font-family: inherit;
  outline: transparent;
  font-size: inherit;
  margin: 0 auto;
  padding-left: 2.5rem;
  background: url(./media/search.svg) no-repeat left;
  background-position: 7px 10px;
  background-size: 24px;
}

.search-btn::placeholder {
  font-family: inherit;
  font-size: inherit;
}

.search-btn::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* End: search-bar Styles */

/* Start: sidemenu Styles */
.modal-menu {
  margin-right: 1rem;
  width: 50%;
  border: var(--black-border-thin);
  background-color: #f0f0f0;
  z-index: 1;
  position: fixed;
  right: 1%;
  top: 4.25rem;
  transition: var(--ease-in-out);
}

.modal-menu a {
  border: transparent;
  display: block;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
}

.modal-menu a:hover,
.modal-menu a:active,
.modal-menu a:focus {
  transition: var(--ease-in-out);
  background-color: var(--red); /* rgb(238, 237, 237) */
}

.modal-menu a:nth-child(2):hover,
.modal-menu a:nth-child(2):active,
.modal-menu a:nth-child(2):focus,
.modal-menu a:nth-child(3):hover,
.modal-menu a:nth-child(3):active,
.modal-menu a:nth-child(3):focus .modal-menu a:nth-child(4):hover,
.modal-menu a:nth-child(4):active,
.modal-menu a:nth-child(4):focus {
  border-top: var(--black-border-thin);
  border-bottom: var(--black-border-thin);
}

.modal-menu a:nth-child(1):hover,
.modal-menu a:nth-child(1):active,
.modal-menu a:nth-child(1):focus {
  border-bottom: var(--black-border-thin);
}

.modal-menu a:nth-child(5):hover,
.modal-menu a:nth-child(5):active,
.modal-menu a:nth-child(5):focus {
  border-top: var(--black-border-thin);
}
/* Start: sidemenu Styles */

/* Start: resultGroup Styles */
.res-view-wrap {
  margin: 0 auto;
  width: 80%;
  border: var(--black-border-thin);
  margin-top: 2rem;
  margin-bottom: 1rem;
  background: #fff;
  border-radius: 5px 5px 25px;
}

.res-view-wrap article {
  border-top: var(--black-border-thin);
  background-color: #000;
  border-radius: 0 5px 25px;
}

.res-img-wrap {
  width: 100%;
  height: 8rem;
  background: transparent;
  overflow: hidden;
}

.res-img-wrap img {
  margin: 0 0 -50px 0;
  width: 100%;
}

.desc {
  padding: 1rem 1rem 0.5rem;
  font-size: var(--font14);
  text-align: justify;
  line-height: 1rem;
  color: #fff;
}

.res-view-wrap article .btn-wrap {
  margin-top: 0;
}

.res-view-wrap article .page-btn {
  font-size: var(--font14);
}

.res-view-wrap article h4 {
  font-weight: 800;
  cursor: pointer;
  line-height: 1.25rem;
  padding: 1rem 1rem 0;
}

.res-view-wrap h4 a {
  color: #fff;
}

.results-view .btn-wrap span {
  display: none;
}

.tags {
  font-size: var(--font12);
  font-family: inherit;
  text-transform: capitalize;
  text-decoration: underline;
  text-underline-offset: 2.125px;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--red);
  color: #fff;
  padding-left: 1rem;
}
/* Start: resultGroup Styles */

h1 {
  text-align: center;
  padding: 3rem 2rem 0;
  line-height: 2.25rem;
}

.home-wrap .img-wrap {
  margin-bottom: 2rem;
}

.home-wrap .img-wrap img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.home-main .res-img-wrap {
  height: 12rem;
}

/* .home-main .res-view-wrap article {
  border: none;
} */

.home-main .desc {
  text-align: left;
}

/*
.home-main .page-btn {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
}

.home-main .page-btn span {
  padding-left: 0.5rem;
}

.home-main .desc {
  text-align: left;
}

.home-main .res-view-wrap {
  border-bottom-right-radius: 50px;
  margin-top: 0;
  margin-bottom: 0;
}

.home-wrap {
  margin-top: 2rem;
}

.home-main1 .res-img-wrap {
  width: 100%;
  height: 12rem;
  background: transparent;
  overflow: hidden;
}

.home-main1 {
  background: linear-gradient(180deg, #fff 30%, #e70f0ff5 10%);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.home-main2 {
  background: linear-gradient(180deg, #e70f0ff5 20%, #fff 0);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.home-main3 {
  background: linear-gradient(180deg, #fff 75%, #000 0);
  border-bottom: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.home-main4 {
  background-color: #000;
  border-top: none;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.home-main4 .res-view-wrap {
  border: 1px solid var(--red);
}

.home-main4 .res-view-wrap article {
  border-top: 1px solid var(--red);
}

.home-main1 .res-img-wrap img {
  margin: 0 0 -50px 0;
  width: 100%;
}

.home-wrap h1 {
  line-height: 2rem;
  text-align: center;
  padding: 0;
  font-size: 2rem;
  margin: 0 1.5rem;
}

.home-wrap h4 {
  font-size: 1.5rem;
}


.res-art-wrap {
  padding-bottom: 0.5rem;
}
*/

/* Start: Pagination styles */
.pagination-wrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.pagination-wrap .page-btn {
  font-size: var(--font12);
  background-color: #000;
  color: #fff;
}

.pagination-wrap .page-btn:hover {
  box-shadow: none;
  background-color: #fff;
}

.page-count {
  font-size: var(--font12);
}

.select-list {
  width: 20%;
  border: var(--black-border-thin);
  padding: 0.425rem 0.5rem;
  font-size: var(--font12);
  outline: none;
  font-family: inherit;
  background-color: #fff;
}

.select-list:hover {
  background-color: #fff;
  transition: var(--ease-in-out);
}

/* End: Pagination styles */

/* Start: 404-page Styles */
.err-img {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.err-img img {
  width: 80%;
}

.err-wrap .big {
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 2rem 1.5rem 1rem 1.5rem;
  text-align: center;
}

.err-wrap .small {
  font-size: var(--font12);
  line-height: 1rem;
  text-align: center;
  margin: 0 1.5rem;
}
/* End: 404-page Styles */

/* Start: media queries */
